<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

<div th:if="${session.message}" th:classappend="${session.message}" class="w3-panel w3-green">
  <h3>Success!</h3>
  <p th:text="${session.message}"></p>
  <th:block th:text="${#session.removeAttribute('message')}"></th:block>
</div>

	<form th:action="@{/register}" enctype="multipart/form-data" th:object="${User}" method="post" class="w3-container">

		<label class="w3-text-blue"><b>Name</b></label> <input
			class="w3-input w3-border" name="name" type="text"> <label
			class="w3-text-blue"><b>Phone</b></label> <input
			class="w3-input w3-border" name="phone" type="number"> <label
			class="w3-text-blue"><b>Email</b></label> <input
			class="w3-input w3-border" name="email" type="email"> <label
			class="w3-text-blue"><b>Message</b></label>
		<textarea class="w3-input w3-border" name="message"></textarea>

		<label class="w3-text-blue"><b>Attached Resume</b></label> <input
			class="w3-input w3-border" type="file" name="fileDoc" accept=".doc,application/pdf">




		<button class="w3-btn w3-blue">Submit Application</button>

	</form>

</body>
</html>